 
<%
function linkMaker(job){
    return job.accessToken
}
%>
<div>
    <p>
        Hi 
    </p>
    <p>
        <h3>Link</h3>
        <a href=`http://hemanthify.in/users/forgotPassword/<%=linkMaker(job)%>`>click This</a> 
    </p>
</div>