    
               
                    <li id="comment-<%=comment.id%>"> 
                        <small>
                            <%if(locals.user && locals.user.id == comment.user.id){%>
                                <a href="/comments/deleteComment/?id=<%=comment.id%>" class="deleteButton">X</a>
                            <%}%>
                            
                            <%=comment.user.name%>
                            <br>
                            <%=comment.content%>
                            <br>

                        </small>
                    </li>
              