<div style="margin-top: 100px;">
    <form action="/users/forgotPassword" method="POST">
        <input type="email" name="email" id="" name="mail" placeholder="enter Email">
        <button>Submit</button>
    </form>
</div>