<div style="margin-top: 20%;display: flex;height: 100%;width: 100%;justify-content: center;/* align-self: normal; */">
    <form action="/users/forgotPassword" method="POST" style="display: flex;">
        <input type="email" name="email" id="" placeholder="enter Email">
        <button>Submit</button>
    </form>
</div>