<link rel="stylesheet" href="/css/home.css">
 
<div id="homeDisplay">
    <section id = "hemanthifyPosts">
        <h4>Posts</h4>
        <%if (locals.user) {%>
        <form action="/post/post_data" id="postForm" method="POST" enctype="multipart/form-data">
            <textarea name="content" id="newPost" cols="30" rows="3"></textarea>
            <input type="file" name="postPicture" placeholder="Add Image">
            <input type="submit" value="submit">
        </form>
        <%}%>
        <ul id="post-list">
            <% for (post of posts) {%>
                 <%-include ('_post')-%>
            <%}%>
        </ul>
    </section>
    
    <section id="userFriends">
        <h4>
            Friends
        </h4>
        <% for (u of users){%>
            <p>
                <a href="users/profile/<%=u.id%>"><%=u.name%></a>
            </p>
        <%}%>
    </section>
     
</div>
<script src="/js/home_posts.js"></script>  
<script src="/js/likes.js"></script>
 