<h1>Hemanthify / <%=title%></h1>
<section id = "hemanthIfyPosts">
    <h4>Posts</h4>
    <form action="" id="postForm" method="POST">
        <textarea name="content" id="newPost" cols="30" rows="3"></textarea>
        <input type="submit" value="Post">
    </form>
</section>