<div>
    <form action="/users/forgotForm" method="post">
        <input type="email" name="email" id="" placeholder="Enter Email">
        <input type="password" name = "password" placeholder="enter New Password">
        <input type="password" name="confirmPassword"  placeholder="ReEnter Password">
        <button>submit</button>
    </form>
</div>