<link rel="stylesheet" href="/css/userSignIn.css">
 <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rancho&effect=neon">
    <div class="userSignIn" id="userSignIn" > 
        <div class="sign-in-image" id="sign-in-image">
            <img src="/images/signIn.jpg" alt="" srcset="">
        </div>
        <div id="formArea">
            <div id="signIn-name" class="font-effect-neon">
                Sign in
           </div>
           <div class="form-class">
                <form action="/users/create-session" method="POST">
                    <div id="mail" class="margin-bottom">
                        <input type="email" name="email" placeholder="Email" required>
                    </div>
                    <div id="password" class="margin-bottom">
                        <input type="password" name="password" placeholder="Password" required> 
                    </div>
                    <div class="margin-bottom sign-in-button">
                        <div>
                            <input type="submit" value="Sign in">
                        </div>
                        <div>
                            <a href="/users/auth/google" id="google-logo"><i class="fa-brands fa-google"></i></a>
                        </div>
                    </div>
                </form>
                 
           </div>
           <div class="sign-in-bottom-row">
               Don't have an account?
               <a href="/users/sign-up">SignUp</a>
                
            </div>
            <div class="fp">
                <a href="/users/forgotPassword">forgot password?</a>
            </div>
                 
        </div>
        
         
    </div>
    
 
     
 
 