:root{
    --theme: rgb(241, 195, 241);
    --header:rgb(152, 201, 209);
    --profileBackground : cyan;
}
body{
    height:100%;
    margin: 0;
    align-items: center;
    background-color:white;
    overflow: unset;
    font-family: 'Courier New', Courier, monospace;
    .footer-class{
        position: fixed;
        bottom:0;
        width: 100%;
    }
}