.friend-heading {
  margin-top: 100px; }

.friends-container {
  margin-top: 10%;
  display: flex; }
  .friends-container .friend-list {
    display: block; }

#chat-container {
  overflow: scroll;
  position: absolute;
  bottom: 60px;
  z-index: 1;
  width: 65%;
  height: calc(100vh - 114px);
  display: flex;
  right: 0;
  flex-direction: column;
  justify-content: end;
  background-color: rgba(255, 255, 255, 0.521);
  border: 2px solid black; }
  #chat-container .chat-box {
    list-style: none;
    padding: 10px;
    height: 100%;
    background-color: white;
    overflow: auto; }
    #chat-container .chat-box .self-message {
      margin-left: auto;
      background-color: darkkhaki;
      width: 20%;
      right: 0; }
    #chat-container .chat-box .other-message {
      background-color: darksalmon;
      width: 20%; }
  #chat-container #input-id {
    background-color: #e1e7e9;
    display: flex; }
    #chat-container #input-id button {
      background-color: blanchedalmond; }
