body {
  background-color: #fff4f4;
  height: auto; }

.pro-img-con {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: gray; }
  .pro-img-con img {
    height: 50% !important;
    width: auto !important;
    border-radius: 100% !important; }
  .pro-img-con .edit.div {
    display: flex; }
  .pro-img-con #edit-form {
    display: flex;
    flex-direction: column; }
